<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @participation.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @participation.player_id %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @participation.opponent_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @participation.score %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
