<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @player.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Joining date:</strong>
  <%= @player.joining_date %>
</p>

<p>
  <strong>Game details</strong>
</p>

<p>
  <strong>Number of wins: <%=@win_count%></strong>
</p>

<p>
  <strong>Number of losses: <%=@los_count%> </strong>
</p>

<p>
  <strong>Average score: <%=@player&.participations.pluck(:score).sum / @player&.participations.pluck(:score).count  if @player&.participations.count > 0 %></strong>
</p>

<p>
  <% participation = @player&.participations.order('score DESC')&.first%>
  <% if participation.present? %>
    <strong>Highest score: <%=participation.score%> Against <%= participation.opponent&.name%> in Game <%= participation.game.name %></strong>
  <% else %>
    <strong>Highest score: 0</strong>
  <% end %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
